@model xMovies.ViewModels.MovieIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Movie Index</h2>
<button>@Html.ActionLink("Add New Movie", "New", "Movie")</button>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Release Date</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in @Model.Movies)
        {
            <tr>
                <th>@Html.ActionLink(@movie.Name, "Show", "Movie", new { Id = movie.Id }, null)</th>
                <td>@movie.ReleaseDate.ToString("MMM, yyyy")</td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
    </tbody>
</table>
