@model xMovies.ViewModels.MovieFormViewModel
@{
    /**/

    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@Model.Movie==null)
{
    <h2>Add New Movie</h2>
}
else
{
    <h2>Edit Movie</h2>
}

@using (Html.BeginForm("Save", "Movie"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Movie.Name)
        @Html.TextBoxFor(c => c.Movie.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Movie.ReleaseDate)
        @Html.EditorFor(c => c.Movie.ReleaseDate, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Genres)
        @Html.DropDownListFor(c => c.Genres, new SelectList(Model.Genres, "Id", "Name"), new { @class = "form-control" })
    </div>
    <button type="submit" class="btn-success">Save</button>
}
